/* styles.css */

.colorful-title {
    color: #ff3333; /*  title color */
    font-size: 40px;
    text-align: center;
  }
  
  .button-container {
    text-align: center;
  }
  .report-actions {
    text-align: center;
    margin-top: 40px;
  }
  
  .styled-button {
    margin: 10px; /*  spacing between buttons */
  }
  /*  search input  */
.search-container {
  margin-top: 50px;
  text-align: center;
}

/* customer information */
.customer-info {
  text-align: center;
}
  /* Style the  buttons */
  .styled-button button {
    background-color: #ff9233; /*  button background color */
    color: white;
    padding: 20px 100px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
  }
  /* generate PDF button */
  .report-actions button {
    background-color: #0c55ff; /* button background color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 28px;
  }
/* Add New Customer title */
.add-customer-title {
  color: #ff3333; 
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

/*  top 5 movies */
.top-movies-title {
  color: #ff3333; 
  font-size: 30px;
  text-align: left; 
  margin-top: 20px; 
}

/*  top 5 actors */
.top-actors-title {
  color: #ff3333; 
  font-size: 30px;
  text-align: left; 
  margin-top: 20px; 
}

  .styled-button button:hover {
    background-color: #ff0000;
  }
  